h1 {
   font-family: "Cinzel Decorative", cursive;
 }
 
 body, input, button {
   font-family: Arial, Helvetica, sans-serif;
 }
 
 header {
   text-align: center;
 }
 
 .messages {
   background-color:steelblue;
   border-radius: 5px;
   padding: 1em;
   height: 50vh;
   overflow: auto;
   border: 2px solid black;
 }
 
 .message {
   color: white;
   padding: 0.3em;
 }
 
 .date, .author {
   font-weight: bold;
 }

 .nicknames {
  background-color: rgba(99, 178, 231, 0.26);
  border-radius: 5px;
  height: 50vh;
  overflow: auto;
  text-align: center;
  color: steelblue;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
 }


 
 form {
   display: flex;
   margin-top: 1em;
   justify-content: space-between;
 }
 
 input, button {
   padding: 0.5em;
 }
 
 input {
   margin-right: 10px;
 }
 
 #author {
   width: 20%;
 }
 
 #content {
   width: 60%;
 }

 button[type="submit"]{
    width: 10%;
  }